header {
  width: 100%;

  .container {
    @include main-container;
    @media(min-width: 550px) {
      flex-direction: row;
      justify-content: space-around;
    }

    h1 {
      font-size: 8rem;
    }

    img {
      display: flex;
    }
  }
}
//Menu
//Menu
@media(min-width: 645px) {
  nav {
    &.open {
      .container {
        ul {}
      }
    }

    .container {
      padding: 0 3.5rem;
      flex-direction: row;

      button {
        display: none;
      }

      ul {
        flex-direction: row;
        display: flex;
        overflow: visible;
        max-height: 50px;
      }
    }
  }
}
//About Us

.aboutUs {
  .articleBox {
    @media(min-width: 645px) {
      flex-direction: row;

      &#rightSide {
        flex-direction: row-reverse;
        padding-top: 3rem;
      }

      .hairdresser {
        h3 {
          font-size: 3.2rem;
        }

        p {
          font-size: 1.8rem;
        }
      }
    }
  }
}
//Price list
@media(min-width: 645px) {
  .priceList {
    article {
      h3 {
        font-size: 7rem;
      }

      table {
        font-size: 3rem;

        td{
          padding: 0 2rem;
        }

      }
    }
  }
}
//Contact
.contact {
  @media(min-width: 560px) {
    article {
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      align-items: center;

      h3 {
        font-size: 3.5rem;
        padding-top: 1.2rem;
      }

      p {
        padding: 1.2rem 0;
        font-size: 3rem;
        font-weight: bold;
      }
    }
  }
}
